.languages {
  background-image: url("../assets/img/languages.png");
  background-size: 100% 100%;
  min-height: 100vh;
  width: 100vw;
  position: relative;
  left: -40px;
  color: white;
  text-align: center;
  padding-top: 10vh;

  @media only screen and (max-width: 991px) {
    background-size: cover;
    padding-top: 2vh;
  }

  h1 {
    font-size: 8vmin;
    font-family: "Trueno";
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 5vh;
    color: white;
    margin-bottom: 20vh;

    @media only screen and (max-width: 991px) {
      margin-bottom: 25vh;
    }
  }

  &__content {
    font-size: 6vmin;
    font-family: "Trueno";
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 5vh;
    color: white;
  }

  img {
    margin: 0px 0.3vw;
  }

  &__icons {
    margin-bottom: 10px;
  }
}
