@mixin background-gradient($angle, $color1, $color2) {
  background-image: -moz-linear-gradient($angle, $color1 0%, $color2 100%);
  background-image: -webkit-linear-gradient($angle, $color1 0%, $color2 100%);
  background-image: -ms-linear-gradient($angle, $color1 0%, $color2 100%);
}

@mixin box-shadow($top, $left, $blur, $spread, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: inset $top $left $blur $spread $color;
    -moz-box-shadow: inset $top $left $blur $spread $color;
    box-shadow: inset $top $left $blur $spread $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $spread $color;
    -moz-box-shadow: $top $left $blur $spread $color;
    box-shadow: $top $left $blur $spread $color;
  }
}
