<section>
  <div class="container-fluid">
    <div class="about" id="about">
      <div class="row row-eq-height">
        <div class="col-md-4 col-xs-8 col-xs-offset-2 col-md-offset-1">
          <div class="about__portrait-wrapper">
            <div class="about__portrait">
            </div>
          </div>
        </div>
        <div class="about__text-wrapper col-md-6 col-xs-12 col-md-offset-1">
          <div class="about__text">
            <h1>Lorem Ipsum</h1>
            Jestem grafikiem komputerowym, freelancerem.<br> Aktualnie uczę się na profilu inforamtycznym w Technikum
            Łączności w Krakowie, które jest jednym z najlepszych w Polsce. Specjalizuje się w tworzeniu stron
            internetowych, projektach logo ale takze w grafice reklamowej oraz projektowaniu UX/UI.
            <br><br>
            Zapraszam do zapoznana się z moim portfolio.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>