<section>
  <div class="container-fluid">
    <div class="contact" id="contact">
      <div class="row">
        <div class="col-xs-12 contact__title">
          <h1>Contact</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-1 col-xs-12">
          Disabled for presentation purposes
          <form id="contact-form" action="./php/mail.php" method="post">
            <input name="name" placeholder="Name" required disabled>
            <input type="email" name="email" placeholder="E-mail" required disabled>
            <textarea name="text" placeholder="Your message here" required disabled></textarea>
            <div class="contact__submit-wrapper col-md-5 col-md-offset-7 col-xs-8 col-xs-offset-2">
              <div class="contact__submit-button">
                <div>
                  <input type="submit" value="Send" alt="Submit" disabled>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="contact__right-contact test-button col-md-6 col-md-offset-1 col-xs-12">
          <div class="contact__element col-xs-12">
            <img src="../assets/img/email.png" alt="email-icon"> some@email.com
          </div>
          <div class="contact__element col-xs-12">
            <img src="../assets/img/smartphone.png" alt="smartphone-icon"> +48 123 456 789
          </div>
          <div class="contact__element col-xs-12">
            <a href="#"> <img src="../assets/img/behance.png" alt="behance-icon"> <span id=MyBehance>My
                Behance</span> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>