<section>
  <div class="container-fluid">
    <div class="languages">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 langauges-title">
          <h1>Programming languages and libraries</h1>
        </div>
        <div class="languages__content col-xs-10 col-xs-offset-1 languages-content">
          Dodatkowo posiadam zaawansowane umiejętnosci w HTML5, CSS3 oraz JavaScripcie, a takze podstawową wiedzę o
          Bootstrapie, p5.js i jQuery
        </div>
        <div class="languages__icons col-xs-12">
          <img src=../assets/img/html_icon.png alt="html icon">
          <img src=../assets/img/css_icon.png alt="css icon">
          <img src=../assets/img/js_icon.png alt="js icon">
          <img src=../assets/img/bootstrap_icon.png alt="bootstrap icon">
          <img src=../assets/img/jquery_icon.png alt="jquery icon">
          <img src=../assets/img/p5js_icon.png alt="p5.js icon">
        </div>
      </div>
    </div>
  </div>
</section>