<section>
  <div class="container-fluid">
    <div class="my-skills" id="my-skills">
      <div class="row">
        <div class="row">
          <div class="col-xs-12 my-skills__title">
            <h1>My Skills</h1>
          </div>
        </div>
      </div>
      <div class="row hehe">
        <div class="col-lg-offset-2 col-lg-2 col-md-3 col-md-offset-0 col-xs-6 col-xs-offset-3">
          <div class="my-skills__circle">
            <div class="my-skills__circle__animation">
              <div class="my-skills__circle__left-half">
                <div></div>
              </div>
              <div class="my-skills__circle__right-half">
                <div></div>
              </div>
            </div>
            <div class="my-skills__percentage-wrapper">
              <div class="my-skills__percentage-circle">
                <div class="my-skills__percentage">90%</div>
              </div>
            </div>
            <div class="my-skills__circle-text">
              Photoshop
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-md-offset-0 col-xs-12 col-xs-6 col-xs-offset-3">
          <div class="my-skills__circle">
            <div class="my-skills__circle__animation">
              <div class="my-skills__circle__left-half">
                <div></div>
              </div>
              <div class="my-skills__circle__right-half">
                <div></div>
              </div>
            </div>
            <div class="my-skills__percentage-wrapper">
              <div class="my-skills__percentage-circle">
                <div class="my-skills__percentage">80%</div>
              </div>
            </div>
            <div class="my-skills__circle-text">
              Illustrator
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-md-offset-0 col-xs-12 col-xs-6 col-xs-offset-3">
          <div class="my-skills__circle">
            <div class="my-skills__circle__animation">
              <div class="my-skills__circle__left-half">
                <div></div>
              </div>
              <div class="my-skills__circle__right-half">
                <div></div>
              </div>
            </div>
            <div class="my-skills__percentage-wrapper">
              <div class="my-skills__percentage-circle">
                <div class="my-skills__percentage">75%</div>
              </div>
            </div>
            <div class="my-skills__circle-text">
              InDesign
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-md-offset-0 col-xs-12 col-xs-6 col-xs-offset-3">
          <div class="my-skills__circle">
            <div class="my-skills__circle__animation">
              <div class="my-skills__circle__left-half">
                <div></div>
              </div>
              <div class="my-skills__circle__right-half">
                <div></div>
              </div>
            </div>
            <div class="my-skills__percentage-wrapper">
              <div class="my-skills__percentage-circle">
                <div class="my-skills__percentage">60%</div>
              </div>
            </div>
            <div class="my-skills__circle-text">
              Sketch
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>