<section>
  <div class="container-fluid">
    <div class="projects" id="projects">
      <div class="row">
        <div class="col-xs-12 projects__title">
          <h1>Projects</h1>
        </div>
      </div>
      <div class="row">
        <div class="projects__content col-xs-8 col-xs-offset-2">
          My newest works from digital art to web and app design
        </div>
      </div>
      <div class="row">
        <div class="projects__art-container col-md-4 col-xs-12">
          <a href="https://www.behance.net/gallery/62800107/Jordan-Drawing"> <img
              src="../assets/img/Jordan Wallpaper.png" alt="Jordan Wallpaper"></a>
        </div>
        <div class="projects__art-container col-md-4 col-xs-12">
          <a href="https://www.behance.net/gallery/62841419/Programmer-Portfolio-Layout"> <img
              src="../assets/img/www.png" alt="App image"> </a>
        </div>
        <div class="projects__art-container col-md-4 col-xs-12">
          <a href="https://www.behance.net/gallery/63070683/ADIDAS-X-POKEMON-CONCEPT-COLLAB-1-NMD-R1"> <img
              src="../assets/img/logo.png" alt="App logo image"></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-md-offset-9 col-xs-12">
          <a href="https://www.behance.net/w0jtk0"> <img src="../assets/img/discover.png" alt="Discover me"> </a>
        </div>
      </div>
    </div>
  </div>
</section>