<navi>
  <div class="menu">
    <div class="menu__button">
      <i class="fa fa-bars fa-3x" aria-hidden="true"></i>
    </div>
    <div class="menu__language-change">
      <span>PL</span>
      <span>EN</span>
    </div>
    <div class="menu__container">
      <div class="row">
        <a href="#about">
          <div class="col-xs-12 menu__element">
            About Me
          </div>
        </a>
      </div>
      <div class="row">
        <a href="#my-skills">
          <div class="col-xs-12 menu__element">
            Skills
          </div>
        </a>
      </div>
      <div class="row">
        <a href="#projects">
          <div class="col-xs-12 menu__element">
            Projects
          </div>
        </a>
      </div>
      <div class="row">
        <a href="#contact">
          <div class="col-xs-12 menu__element">
            Contact
          </div>
        </a>
      </div>
    </div>
  </div>
</navi>