<section>
  <div class="container-fluid welcome-screen">
    <div class="welcome-screen__right-section">
      <div class="welcome-screen__background">
      </div>
    </div>
    <div class="container-fluid welcome-screen__left-section ">
      <div class="row">
        <div class="welcome-screen__logo-container">
          <span class="col-md-3 col-md-6 col-xs-12 welcome-screen__image-wrapper"><img src=../assets/img/22.png
              alt=logo>
            <span class="welcome-screen__text-wrapper">Lorem Ipsum</span>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="welcome-screen__main-title-wrapper col-md-5 col-md-7 col-xs-11">
          <div class="welcome-screen__main-title col-md-5 col-md-7 col-xs-11">
            UI/UX design and digital art
          </div>
        </div>
      </div>
      <div class="row">
        <div class="welcome-screen__my-work-wrapper col-md-5 col-md-7 col-xs-11">
          <a href="#projects">
            <span class="welcome-screen__my-work">
              View my work
              <hr>
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="welcome-screen__button-godown">
      <div>
        <a href="#about">
          <i class="fa fa-angle-double-down fa-5x" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</section>